
.signup__container {
	display: flex;
	flex-direction: column;
	padding: 4% 5%;
	background-color: #ebebeb;
	border-radius: 8px / 7px;
	box-shadow: 1px 2px 5px rgb(129, 65, 155);
	border: solid 1px #cbc9c9;
}

.signup__title {
	font-size: 4vh;
	color: #81419b;
	text-align: center;
	font-family: monospace;
	font-weight: bold;
	margin-bottom: 5%;
}

