
.multiform--isVertical {
	visibility: hidden;
	display: none;
}

.multiform--isHorizontal {
	visibility: visible;
	display: block;
}

@media only screen and (min-width: 768px) {
	.multiform--isVertical {
		visibility: visible;
		display: block;
	}
	.multiform--isHorizontal {
		visibility: hidden;
		display: none;
	}
}

.stepper {
	padding: 2%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

.stepper--isVertical {
	margin-left: 9%;
}

.step {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 13px;
	border-radius: 100px;
	font-size: 2vh;
	align-self: stretch;
}

	.step:hover {
		background: lightgray;
	}

.step--isVertical {
	margin-left: 20px;
}

.step--isCurrent {
	background-color: rebeccapurple;
}

.step--isNext {
	background-color: white;
}

.step--isWrong {
	background-color: firebrick;
}

.form {
	display: flex;
	flex-flow: column;
	align-items: center;
}

	.form__btn {
		background-color: #81419b;
		border: none;
		border-radius: 20px;
		padding: 0 10%;
		font-size: 3vh;
		font-weight: bold;
	}

	.form__btn:hover {
		background: #9061a4;
	}
