
.app {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.step-container {
	display: flex;
	flex-flow: column;
	padding: 10%;
	width: 90%;
}

	.step-container__input {
		display: flex;
		background-color: #fff;
		border-top: 1px solid #6b6a6a;
		border-right: 1px solid #6b6a6a;
		border-bottom: 1px solid #6b6a6a;
		border-left: 1px solid #6b6a6a;
		border-radius: 5px;
		color: #363636;
		text-align: center;
		padding: 10%;
		margin: 1%;
		font-family: monospace;
		font-weight: bold;
		font-size: 2vh;
	}
